################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ZeikomiEnglish/FileContentIndex
/MVVMCore/obj
/ZeikomiEnglish/obj
/.vs/ZeikomiEnglish
/MVVMCore/bin/Debug/net5.0-windows
/ZeikomiEnglish/bin/Debug/net6.0-windows
/.vs/ProjectEvaluation
/ZeikomiEnglishInstaller/Debug
/MVVMCore/bin/Release/net5.0-windows
/ZeikomiEnglish/bin/Release/net6.0-windows
/ZeikomiEnglishInstaller/Release
/ZeikomiEnglishInstaller/ZeikomiEnglish_0_1_0_0
/ZeikomiEnglishInstaller/ZeikomiEngilish_0_2_0_0
*.zip
/ZeikomiEnglishInstaller/ZeikomiEnglish_0_3_0_0/setup.exe
/ZeikomiEnglishInstaller/ZeikomiEnglish_0_3_0_0
/ZeikomiEnglishInstaller/ZeikomiEnglish_0_5_0_0_Installer
